<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" >
    <meta name="description" content="" >
    <meta name="author" content="" >
    <meta name="viewport" content="width=device-width,initial-scale=1" >
    <!-- <link
      type="text/css"
      rel="stylesheet" href="/static/css/bootstrap.min.css"
    /> -->
    <style>
      .highlight {
        background-color: grey;
      }

      .hidden {
        display: none;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 300px;
      }
      li {
        clear: both;
      }
    </style>
    <title>TODO App</title>
  </head>
  <body>
    <form id="form">
      <input type="text" id="description" name="description" />
      <input type="submit" value="Create" />
    </form>

    <ul id="lists">
      {% for d in data['lists'] %}
      <li class="list-name" data-id="{{d.id}}">{{d.name}}</li>
      {% endfor %}
    </ul>

    <ul id="todos">
      {% for d in data['todos'] %}
      <li>
        <input
          class="check-completed"
          data-id="{{d.id}}"
          type="checkbox"
          {%
          if
          d.completed
          %}
          checked
          {%
          endif
          %}
        />
        {{d.description}}
        <button class="delete btn-danger" data-id="{{d.id}}">Delete</button>
      </li>
      {% endfor %}
    </ul>
    <div class="hidden" id="error">Something went wrong!</div>
    <!-- <div>Something Went wrong</div> -->
    <!-- <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <script>
      var data = {{ data | tojson | safe }};
      console.log(data)
      const list_id = data['list_id']
      const checkboxes = document.querySelectorAll(".check-completed");
      const buttons = document.querySelectorAll(".delete");
      const listNames = document.querySelectorAll(".list-name")
      console.log(listNames)
      for(let i =0;i<listNames.length;i++){
        const listName = listNames[i]
        console.log("listname ",listName.dataset)
        if (listName.dataset.id==list_id){
            listName.className = "list-name highlight"
        }
        else{
            listName.className = "list-name"
        }

      }
      for (let i = 0; i < checkboxes.length; i++) {
        const checkbox = checkboxes[i];
        checkbox.onchange = function (e) {
          const newCompleted = e.target.checked;
          const todoId = e.target.dataset["id"];
          fetch("/todos/" + todoId + "/set-completed", {
            method: "POST",
            body: JSON.stringify({
              completed: newCompleted,
            }),
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then(function () {
              document.getElementById("error").className = "hidden";
            })
            .catch(function () {
              document.getElementById("error").className = "";
            });
        };
        const delButton = buttons[i];
        delButton.onclick = function (e) {
          const delId = e.target.dataset["id"];
          fetch("/todos/" + delId + "/delete-todo", {
            method: "DELETE",
          })
            .then(function () {
              document.getElementById("error").className = "hidden";
            })
            .catch(function () {
              document.getElementById("error").className = "";
            });
        };
      }

      document.getElementById("form").onsubmit = function (e) {
        e.preventDefault();
        const queryString = window.location.pathname
        console.log("query string ",queryString)
        fetch("/todos/create", {
          method: "POST",
          body: JSON.stringify({
            description: document.getElementById("description").value,
          }),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then(function (response) {
            return response.json();
          })
          .then(function (jsonResponse) {
            console.log(jsonResponse);
            const liItem = document.createElement("LI");
            liItem.innerHTML = jsonResponse["description"];
            document.getElementById("todos").appendChild(liItem);
            document.getElementById("error").className = "hidden";
          })
          .catch(function () {
            document.getElementById("error").className = "";
          });
      };
    </script>
  </body>
</html>
